body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0d192b;
  font-family: "Outfit", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  top: 98%;
  left: 38%;
  position: absolute;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 400px) {
  .attribution {
    left: 9%;
  }
}

.card {
  background-color: #14253d;
  height: 37.25rem;
  width: 21.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  -webkit-box-shadow: 0 24px 70px 0px;
          box-shadow: 0 24px 70px 0px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem;
}

.card-container-images {
  border-radius: 10px;
  height: 18.875rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.card-container-images img {
  height: 18.875rem;
  width: auto;
  z-index: 0;
}

.card-container-images svg {
  visibility: hidden;
  position: absolute;
  z-index: 2;
}

.card-container-images-hovereffect {
  position: absolute;
  border-radius: 10px;
  height: 18.875rem;
  width: 86%;
}

.card-container-images-hovereffect:hover {
  background: #00fff7;
  opacity: 0.7;
  z-index: 1;
}

.card-container-images:hover svg {
  visibility: visible;
}

.card-container h2 {
  color: white;
  cursor: pointer;
}

.card-container h2:hover {
  color: #00fff7;
}

.card-container p {
  margin: 0;
  color: #8bacda;
}

.card-container-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-container-details span {
  margin: 0;
  font-weight: 100;
  color: #00fff7;
  font-size: 18px;
  font-weight: 600;
}

.card-container-line {
  height: 0.0625rem;
  width: 18.75rem;
  background-color: #2f415b;
}

.card-container-avatar {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container-avatar img {
  height: 2.0625rem;
  width: 2.0625rem;
  border: 2px solid white;
  border-radius: 50%;
}

.card-container-avatar p {
  margin-left: 1.0625rem;
}

.card-container-avatar span {
  color: white;
  font-weight: 100;
  margin: 0px;
  padding-left: 0.25rem;
  cursor: pointer;
}

.card-container-avatar span:hover {
  color: #00fff7;
}

@media only screen and (max-width: 400px) {
  .attribution {
    left: 9%;
  }
  .card {
    width: 20.4375rem;
  }
}
/*# sourceMappingURL=style.css.map */